<html>

<body>

  <!-- <h3 align="center"><a href="/mycart">My cart</a> have <%= (session.mycart) ? session.mycart.length : 0 %> items</h3> -->
  <div class="table-responsive" style="padding-right: 5px; padding-left: 5px;">
    <table align="center" class="table table-bordered">
      <tr>
        <h2 align="center" style="background-color: #eaf0ff;">CUSTOMER HOME</h2>
      </tr>
      <% var nCols = 3;
      var nRows = Math.ceil(products.length / nCols);
      for (var r = 0; r < nRows; r++) { %>
      <tr>
        <% for (var c = 0; c < nCols; c++) { 
            if (r * nCols + c < products.length) {
              var product = products[r * nCols + c];
        %>
        <td align="center">
          <a href="/viewproduct/<%= product._id %>">
            <img src="data:image/jpg;base64,<%= product.image %>" width="auto" height="auto" /><br />
          </a>
          <br>
          <strong><%= product.name %><br /></strong>
          <br>
          <Address><%= product.description %><br /></Address>
        </td>
        <% }  } %>
      </tr>
      <% } %>
    </table>
  </div>

  <section class="our-blog">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="heading">
            <h2>Our blog post</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="blog-post">
            <img src="img/blog_post_01.jpg" alt="">
            <div class="date">26 Oct 2017</div>
            <div class="right-content">
              <h4>Stumptown Tofu Schlitz</h4>
              <span>Branding / Admin</span>
              <p>Skateboard iceland twee tofu shaman crucifix vice before they sold out corn hole occupy drinking
                vinegar chambra meggings kale chips hexagon...</p>
              <div class="text-button">
                <a href="#">Continue Reading</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="blog-post">
            <img src="img/blog_post_02.jpg" alt="">
            <div class="date">21 Oct 2017</div>
            <div class="right-content">
              <h4>Succulents Hashtag Folk</h4>
              <span>Branding / Admin</span>
              <p>Skateboard iceland twee tofu shaman crucifix vice before they sold out corn hole occupy drinking
                vinegar chambra meggings kale chips hexagon...</p>
              <div class="text-button">
                <a href="#">Continue Reading</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="blog-post">
            <img src="img/blog_post_03.jpg" alt="">
            <div class="date">11 Oct 2017</div>
            <div class="right-content">
              <h4>Knaus Sriracha Pinterest</h4>
              <span>Dessert / Chef</span>
              <p>Skateboard iceland twee tofu shaman crucifix vice before they sold out corn hole occupy drinking
                vinegar chambra meggings kale chips hexagon...</p>
              <div class="text-button">
                <a href="#">Continue Reading</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="blog-post">
            <img src="img/blog_post_04.jpg" alt="">
            <div class="date">03 Oct 2017</div>
            <div class="right-content">
              <h4>Crucifix Selvage Coat</h4>
              <span>Plate / Chef</span>
              <p>Skateboard iceland twee tofu shaman crucifix vice before they sold out corn hole occupy drinking
                vinegar chambra meggings kale chips hexagon...</p>
              <div class="text-button">
                <a href="#">Continue Reading</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>