<html>
  <body>
    <table class="table-responsive" style="padding-right: 5px; padding-left: 5px;">
      <table align="center" class="table table-bordered">
        <tr>
          <h2 align="center" style="background-color: #eaf0ff;">CUSTOMER HOME</h2>
        </tr>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Image</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Amount</th>
          <th>Action</th>
        </tr>
        <% 
          var total = 0;
          for (var item of session.mycart) {
            total += item.product.price * item.quantity;
        %>
        <tr>
          <td><%= item.product._id %></td>
          <td><%= item.product.name %></td>
          <td><img src="data:image/jpg;base64,<%= item.product.image %>" width="auto" height="auto" /></td>
          <td><%= item.product.price %></td>
          <td><%= item.quantity %></td>
          <td><%= item.product.price * item.quantity %></td>
          <td><a href="/remove2cart/<%= item.product._id %>">Remove</a></td>
        </tr>
        <%  } %>
      </table>
    </table>
    
    <h3 align="right" style="background-color: #eaf0ff;">Total = <%= total %></h3>
    <h3 align="center" style="background-color: #eaf0ff;"><a href="/checkout" onclick="return confirm('ARE YOU SURE ?')">CHECKOUT</a></h3>
  </body>
</html>